## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [186]:
# Your code here

list1= list(range(0, 100))
sample_list_1 = random.sample(list1, k=80)
print(sample_list_1)

[79, 35, 57, 72, 54, 10, 93, 59, 1, 80, 56, 29, 6, 46, 83, 76, 87, 14, 75, 40, 73, 50, 8, 25, 36, 0, 32, 20, 77, 94, 18, 12, 68, 58, 60, 86, 55, 45, 31, 53, 48, 27, 7, 66, 90, 26, 81, 30, 38, 47, 78, 91, 22, 34, 85, 95, 17, 97, 98, 16, 39, 62, 71, 41, 37, 21, 82, 24, 64, 9, 23, 28, 33, 2, 52, 99, 4, 65, 69, 67]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [187]:
# Your code here

sample_list_1 = set(sample_list_1)
set1 = sample_list_1
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [96]:
# Your code here

sample_list_2 = random.choices(range(0,100), k=80)
print(sample_list_2)
type(sample_list_2)

[2, 98, 64, 84, 22, 8, 41, 31, 53, 83, 49, 5, 47, 38, 12, 63, 42, 53, 17, 50, 50, 28, 95, 89, 30, 83, 47, 41, 44, 54, 88, 88, 55, 97, 33, 16, 57, 9, 28, 21, 84, 77, 24, 70, 82, 20, 99, 18, 73, 3, 17, 61, 14, 10, 26, 63, 90, 53, 18, 40, 16, 30, 86, 29, 98, 38, 65, 94, 43, 18, 92, 93, 26, 35, 7, 42, 17, 30, 73, 25]

list

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [97]:
# Your code here

sample_list_2 = set(sample_list_2)
set2 = sample_list_2
len(set2)

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [100]:
# Your code here

set3 = set(set1.difference(set2))
print(set3)

{1, 4, 6, 11, 13, 19, 27, 32, 34, 36, 37, 39, 45, 46, 48, 51, 56, 58, 59, 60, 62, 66, 67, 68, 69, 71, 72, 74, 76, 78, 79, 80, 85, 87, 91, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [101]:
# Your code here

set4 = set(set2.difference(set1))
print(set4)

{98, 99, 38, 10, 43, 47, 20, 95, 22, 86, 88, 63, 30, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [102]:
# Your code here

set5 = set(set1.intersection(set2))
print(set5)

{2, 3, 5, 7, 8, 9, 12, 14, 16, 17, 18, 21, 24, 25, 26, 28, 29, 33, 35, 40, 41, 42, 44, 49, 50, 53, 54, 55, 57, 61, 64, 65, 70, 73, 77, 82, 83, 84, 89, 90, 92, 93, 94, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [118]:
# Your code here

x = len(set1) - len(set5)
y = len(set2) - len(set5)
z = len(set3) + len(set4)

if z == x + y:
    print(z)

50

#### Create an empty set called `set6`.

In [123]:
# Your code here

set6 = set()

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [127]:
# Your code here

set6.update(set3,set5)
print(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 18, 19, 21, 24, 25, 26, 27, 28, 29, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 82, 83, 84, 85, 87, 89, 90, 91, 92, 93, 94, 96, 97}

#### Check if `set1` and `set6` are equal.

In [128]:
# Your code here

print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [137]:
# Your code here

print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [148]:
# Your code here

set7 = set3.union(set4, set5)
set8 = set1.union(set2)
print(set7 == set8)

True

#### Using the `pop` method, remove the first element from `set1`.

In [185]:
# Your code here

print(set1)
set1.pop()

{3, 4, 6, 7, 9, 10, 11, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 30, 32, 33, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 59, 61, 62, 64, 65, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98}

3

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [210]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

list1= list(range(0, 100))
sample_list_1 = random.sample(list1, k=80)

for i in sample_list_1:
    if i in list_to_remove:
        sample_list_1.remove(i)
print(sample_list_1)
len(sample_list_1)

[90, 66, 95, 17, 74, 15, 2, 48, 19, 40, 1, 14, 53, 88, 96, 92, 85, 25, 47, 52, 38, 94, 20, 10, 82, 12, 68, 56, 73, 83, 43, 18, 60, 24, 13, 26, 76, 4, 32, 28, 5, 86, 16, 93, 50, 55, 67, 77, 87, 0, 30, 62, 78, 11, 22, 35, 42, 34, 6, 54, 72, 58, 98, 75, 7, 84, 37]

67