# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [56]:
# import numpy and pandas

import numpy as np
import pandas as pd
import random
import seaborn as sns

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [3]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')
salaries

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
...,...,...,...,...,...,...,...,...
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:

salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [19]:
# Your code here:

salaries.count()

Name                 33183
Job Titles           33183
Department           33183
Full or Part-Time    33183
Salary or Hourly     33183
Typical Hours         8022
Annual Salary        25161
Hourly Rate           8022
dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [68]:
# Your code here:

salaries.groupby('Department').Name.count()

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [98]:
# Your code here:

hourly_workers = salaries[salaries['Hourly Rate'] > 0].reset_index()

In [96]:
hourly_workers_mean = hourly_workers['Hourly Rate'].mean()
hourly_workers_std = hourly_workers['Hourly Rate'].std()
hourly_workers_population = hourly_workers['Hourly Rate'].count()

In [59]:
from scipy.stats import normaltest

In [105]:
sample_from_hourly_workers = hourly_workers['Hourly Rate']
confidence_level = 0.05
_,p = normaltest(sample_from_hourly_workers)
print("p = {:g}".format(p))
if p < confidence_level:  
    print("The null hypothesis can be rejected --> very unlikely to come from a normal distribution")
else:
    print("The null hypothesis cannot be rejected --> it can come from a normal distribution")

p = 1.50894e-87
The null hypothesis can be rejected --> very unlikely to come from a normal distribution

In [ ]:
# The null hypothesis can be rejected. The average money per hour 
# is around 33, not that far from 30$/hour.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [287]:
# Your code here:

only_police = salaries[salaries.Department == 'POLICE'].reset_index()

In [87]:
only_police_mean = only_police['Annual Salary'].mean()
only_police_std = only_police['Annual Salary'].std()
only_police_population = only_police['Annual Salary'].count()

In [116]:
sample_from_only_police = only_police['Annual Salary']
confidence_level = 0.025
_,p = normaltest(sample_from_hourly_workers)
print("p = {:g}".format(p))
if p < confidence_level:  
    print("The null hypothesis can be rejected --> very unlikely to come from a normal distribution")
else:
    print("The null hypothesis cannot be rejected --> it can come from a normal distribution")

p = 1.50894e-87
The null hypothesis can be rejected --> very unlikely to come from a normal distribution

In [118]:
# The null hypothesis can be rejected. Not all the salaried employees
# have a salary higher thar last year mean 86000$/year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [122]:
# Your code here:

a = salaries['Department']
b = salaries['Salary or Hourly']

In [155]:
c = pd.crosstab(a, b, rownames=['Department'], colnames=['Type'])
c[c.Hourly == c.Hourly.max()]

Type           Hourly  Salary
Department
STREETS & SAN    1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [205]:
most_hourly_workers_department = hourly_workers[hourly_workers['Department'] == 'STREETS & SAN']

In [170]:
from scipy.stats import ttest_ind, ttest_1samp

In [203]:
# Your code here:

sample_from_hourly_workers_dept = most_hourly_workers_department['Hourly Rate']
confidence_level = 0.05
_, p_value = ttest_1samp(sample_from_hourly_workers_dept, 35)
print("p = {:g}".format(p_value))
if p < confidence_level:  
    print("The null hypothesis can be rejected --> very unlikely to come from a normal distribution")
else:
    print("The null hypothesis cannot be rejected --> it can come from a normal distribution")

p = 3.33785e-21
The null hypothesis can be rejected --> very unlikely to come from a normal distribution

In [ ]:
# The null hypothesis can be rejected. Their hourly wage is not less
# than 35$/hour.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [211]:
from scipy.stats import sem, t

In [266]:
# Your code here:

hourly_workers_std_error = sem(hourly_workers['Hourly Rate'])

In [263]:
hourly_workers_mean = hourly_workers['Hourly Rate'].mean()

In [260]:
sample_from_hourly_workers = hourly_workers['Hourly Rate']
confidence_level = 0.95
degrees_of_freedom = sample_from_hourly_workers.size - 1

In [272]:
hourly_workers_confidence_interval = t.interval(confidence_level, degrees_of_freedom, hourly_workers_mean, hourly_workers_std_error)
hourly_workers_confidence_interval

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [288]:
# Your code here:

only_police_std_error = sem(only_police['Annual Salary'])

In [289]:
only_police_mean = only_police['Annual Salary'].mean()

In [282]:
only_police_confidence_interval = t.interval(confidence_level, degrees_of_freedom, only_police_mean, only_police_std_error)
only_police_confidence_interval

(nan, nan)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [296]:
from statsmodels.stats.proportion import proportions_ztest

In [330]:
# Your code here:

count = (hourly_workers['Hourly Rate'].size * 0.25)
nobs = hourly_workers['Hourly Rate'].size
value = 0.95

In [333]:
_, p_value_ = proportions_ztest(count, nobs, value)
print("p = {:g}".format(p_value))
if p < confidence_level:  
    print("The null hypothesis can be rejected --> very unlikely to come from a normal distribution")
else:
    print("The null hypothesis cannot be rejected --> it can come from a normal distribution")

p = 3.33785e-21
The null hypothesis can be rejected --> very unlikely to come from a normal distribution

In [336]:
# The null hypothesis can be rejected. Their hourly workers in the
# City of Chicago is less than 25%, not significantly different.