# Advanced Querying Mongo

Importing libraries and setting up connection

In [5]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")

In [8]:
db = client.get_database("Ironhack")

In [9]:
col = db.get_collection("Companies")

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [46]:
# Your Code

one = list(col.find({"name":"Babelgum"}, {"name":1, "_id":0}))

In [47]:
one

[{'name': 'Babelgum'}]

   ### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [48]:
# Your Code

two = list(col.find({"number_of_employees":{"$gt":5000}}).sort("number_of_employees", -1).limit(20))

In [ ]:
two

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [53]:
# Your Code

three = list(col.find({"$and":[{"founded_year":{"$gte":2000}},{"founded_year":{"$lte":2005}}]},{"name":1, "founded_year":1, "_id":0}))

In [82]:
three[0]

{'name': 'Wetpaint', 'founded_year': 2005}

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [71]:
# Your Code

four = list(col.find({"$and":[{"ipo.valuation_amount":{"$gt":100000000}}, {"founded_year":{"$lt":2010}}]}, {"name":1, "ipo":1, "_id":0}))

In [83]:
four[0]

{'name': 'Facebook',
 'ipo': {'valuation_amount': 104000000000,
  'valuation_currency_code': 'USD',
  'pub_year': 2012,
  'pub_month': 5,
  'pub_day': 18,
  'stock_symbol': 'NASDAQ:FB'}}

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [144]:
# Your Code

five = list(col.find({"$and":[{"number_of_employees":{"$lt":1000}}, {"founded_year":{"$lt":2005}}]}).sort("number_of_employees", -1).limit(10))

In [ ]:
five

### 6. All the companies that don't include the `partners` field.

In [110]:
# Your Code

six = list(col.find({"partners ": {"$exists": False}}, {"name":1, "_id":0}))

In [112]:
six[0]

{'name': 'Wetpaint'}

### 7. All the companies that have a null type of value on the `category_code` field.

In [141]:
# Your Code

seven = list(col.find({"category_code": {"$type": 10 }}, {"name":1, "_id":0}))

In [ ]:
seven

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [146]:
# Your Code

eight = list(col.find({"$and":[{"number_of_employees":{"$gt":100}},{"number_of_employees":{"$lt":1000}}]}, {"name":1, "number_of_employees":1, "_id":0}))

In [148]:
eight[0]

{'name': 'AdventNet', 'number_of_employees': 600}

### 9. Order all the companies by their IPO price in a descending order.

In [153]:
# Your Code

nine = list(col.find({}, {"name":1, "_id":0}).sort("ipo", -1))

In [ ]:
nine

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [157]:
# Your Code

ten = list(col.find({}).sort("number_of_employees", -1).limit(10))

In [ ]:
ten

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [159]:
# Your Code

eleven = list(col.find({"founded_month":{"$gte":6}}).limit(1000))

In [ ]:
eleven

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [168]:
# Your Code

twelve = list(col.find({"$and":[{"founded_year":{"$lt":2000}},{"acquisition.price_amount":{"$gt":1000000}}]}))

In [ ]:
twelve

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [170]:
# Your Code

thirteen = list(col.find({"acquisition.acquired_year": {"$gt":2010}}, {"name":1, "acquisition":1, "_id":0}).sort("acquisition.price_amount", -1))

In [ ]:
thirteen

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [176]:
# Your Code

fourteen = list(col.find({},{"name":1, "founded_year":1, "_id":0}).sort("founded_year", -1))

In [ ]:
fourteen

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [179]:
# Your Code

fifteen = list(col.find({"founded_day":{"$lte":7}}).sort("acquisition.price_amount", -1).limit(10))

In [ ]:
fifteen

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [183]:
# Your Code

sixteen = list(col.find({"$and":[{"category_code":{"$regex": ".*web.*"}}, {"number_of_employees":{"$gt":4000}}]}).sort("number_of_employees", 1))

In [ ]:
sixteen

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [185]:
# Your Code

seventeen = list(col.find({"$and":[{"acquisition.price_amount":{"$gt":10000000}}, {"acquisition.price_currency_code":{"$regex": ".*EUR.*"}}]}))

In [ ]:
seventeen

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [187]:
# Your Code

eighteen = list(col.find({"acquisition.acquired_month":{"$lt":3}}, {"name":1, "acquisition":1, "_id":0}).limit(10))

In [188]:
eighteen

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'name': 'Livestream',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': '',
   'source_description': 'company',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 1,
   'acquiring_company': {'name': 'Adviqo', 'permalink': 'adviqo'}}},
 {'name': 'iContact',
  'acquisition': {'price_amount': 169000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://techcrunch.com/2012/02/28/vocus-buys-email-marketing-company-icontact-for-169-million/',
   'source_description': 'Vocus Buys Email Marketing Company iContact For $169 Million',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 28,
   'acquiring_company': {'name': 'Vocus', 'permalink': 'vocus'}}},
 {'name': 'Coghead',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.techcrunch.com/2009/02/19/sap-acquires-cogheads-technology-as-it-looks-towards-the-cloud/',
   'source_description': 'SAP Acquires Cogheadâ€™s Technology As It Looks Towards The Cloud',
   'acquired_year': 2009,
   'acquired_month': 2,
   'acquired_day': 19,
   'acquiring_company': {'name': 'SAP', 'permalink': 'sap'}}},
 {'name': 'Dailymotion',
  'acquisition': {'price_amount': 168000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/02/22/orange-acquired-dailymotion-for-168-million-by-buying-out-the-remaining-51-stake/',
   'source_description': 'Orange Acquired Dailymotion For $168 Million By Buying Out Remaining 51% Stake [Update: Orange Confirms]',
   'acquired_year': 2013,
   'acquired_month': 2,
   'acquired_day': 22,
   'acquiring_company': {'name': 'Orange', 'permalink': 'orange'}}},
 {'name': 'Netvibes',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.marketwatch.com/story/dassault-systemes-acquires-netvibes-2012-02-09',
   'source_description': 'Dassault Systemes Acquires Netvibes',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 9,
   'acquiring_company': {'name': 'Dassault Systemes',
    'permalink': 'dassault'}}},
 {'name': 'Ticketmaster',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.iac.com/index/overview/overview_history.html',
   'source_description': '',
   'acquired_year': 2003,
   'acquired_month': 1,
   'acquired_day': None,
   'acquiring_company': {'name': 'IAC', 'permalink': 'iac'}}},
 {'name': 'Zenfolio',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://corporate.art.com/media/media_releases_20130107.html',
   'source_description': 'Art.com Inc. Acquires Zenfolio',
   'acquired_year': 2013,
   'acquired_month': 1,
   'acquired_day': 7,
   'acquiring_company': {'name': 'Art.com', 'permalink': 'art-com'}}},
 {'name': 'BillMonk',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://billmonk.wordpress.com/2007/01/30/billmonk-is-now-an-obopay-company-settle-up-online/',
   'source_description': 'BillMonk is now an Obopay company! Settle up online.',
   'acquired_year': 2007,
   'acquired_month': 1,
   'acquired_day': 30,
   'acquiring_company': {'name': 'obopay', 'permalink': 'obopay'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [189]:
# Your Code

nineteen = list(col.find({"$and":[{"founded_year":{"$gt":2000}},{"founded_year":{"$lt":2010}}, {"acquisition.acquired_year":{"$gt":2011}}]}))

In [ ]:
nineteen

### 20. All the companies that have been 'deadpooled' after the third year.

In [199]:
# Your Code

twenty = list(col.find({"deadpooled_year":{"$gt":3}}))

In [ ]:
twenty